# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Logs
logs/
*.log

# Runtime caches
*.pyc

# Certificates / private keys
certs/*.key
certs/*.crt
certs/*.pem

# Sensitive local configuration/state
config/users.json
config/pending_users.json
config/reset_requests.json
config/services_config.json
config/mail_config.py

# SonarQube/Scanner
sonar-scanner/
sonar-scanner-cli-*.zip
sonar-project.properties
.scannerwork/

# Rapport d'analyse et outils de sécurité
trivy*.txt

# Jetons, secrets, tokens
*.token
*.secret
sonar_cookies.txt

# Fichiers d'installation temporaires
*.zip
*.tar
*.tar.gz
*.tgz

# Fichiers de configuration locaux
.vscode/
*.swp
images/*/
*~
.DS_Store
node_modules/

# IDEs et éditeurs
.vscode/

# GitHub Actions
.github/