#services-container {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    grid-row-start: 2;
    grid-column-start: 1;
    width: 100%;
    height: 380px;
    transform: translateY(57%);
    overflow-y: auto;
}

.service-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .service-button.stop-button {
    background-color: red;
  }

  .service-button:hover {
    background-color: #3e8e41;
  }

  #server-control-button {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  #server-control-button:hover {
      background-color: #45a049;
  }

.status-indicator {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.status-indicator.active {
    background-color: green;
    color: white;
}

.status-indicator.inactive {
    background-color: red;
    color: white;
}

#add-service-form {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0);
    grid-row-start: 2;
    grid-column-start: 2;
    width: 60%;
    height: max-content;
    transform: translateX(38%);
}

.modal {
    display: none;
    z-index: 1;
}

/* Pour centrer le formulaire dans la page, si nécessaire */
.modal-content {
    margin: 0 auto;
    width: 50%; /* Ajustez selon la largeur souhaitée */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.title-service-form {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#new-service-form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-stop {
    background-color: #f44336; /* Red */
}

.btn-stop:hover {
    background: #da190b;
}

.btn-start {
    background-color: #4CAF50; /* Green */
}

.btn-start:hover {
    background: #45a049;
}

.btn-restart {
    background-color: #2196F3; /* Blue */
}

.btn-restart:hover {
    background: #0b7dda;
}

.btn-delete {
    background-color: #7c21f3; /* Blue */
}

.btn-delete:hover {
    background: #870bda;
}

.btn-add-service {
    margin: 10px;
    background-color: #f39f21;
}

.btn-add-service:hover {
    background: #d68b1e;
}

.btn-valider-form {
    background-color: #3e8e41;
}

.btn-valider-form:hover {
    background: #4caf50;
}