#percentages-container {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    grid-row-start: 2;
    grid-column-start: 1;
    width: 100%;
    height: max-content;
}

.progress-bar {
    height: 20px;
    background-color: green;
    border-radius: 5px;
    margin: 5px 0;
    padding: 0 5px;
    line-height: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.progress-bar.orange {
    background-color: orange;
}

.progress-bar.red {
    background-color: red;
}

.plain-bar {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}