#update_server {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    grid-row-start: 3;
    grid-column-start: 1;
    width: 100%;
    height: fit-content;
    transform: translateY(162%);
    overflow-y: auto;
}

.btn-update-server, .btn-restart-server {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, font-weight 0.3s;
}

.btn-restart-server {
    background-color: #ffa033; /* Different color for restart button */
}

.btn-update-server:hover, .btn-restart-server:hover {
    font-weight: bold;
}