#players-container {
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(22%);
    height: 390px;
    overflow-y: auto;
}
